<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="shortcut icon" href="/img/favicon.png" />
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140025868-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-140025868-1');
        </script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="mailto:boone.david2@gmail.com"><img src="/img/email.png"/></a></li>
                <li><a href="https://github.com/dboone31"><img src="/img/GitHub-Mark-64px.png"/></a></li>
                <li><a href="https://www.linkedin.com/in/davidboonejr1/"><img src="/img/linkedin_circle_black-512.png"/></a></li>
                <li><a href="https://twitter.com/_davidboonejr"><img src="/img/twitter.svg"/></a></li>
            </ul>
        </footer>
    </body>
</html>